/.bundle/
/.yardoc
/_yardoc/
/build/
/coverage/
/doc/
/local_build/
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/
.DS_Store
.Trash
.ruby-version
*.d
*.gch
*.lock
*.o
*.out
*.sublime-project
*.sublime-workspace
